* {
  box-sizing: border-box;
}

body {
  background-image: url(../assets/bg.jpg);
}

.center {
  margin: 0 auto;
  width: 650px;
  overflow: auto;
}

.subscribe {
  color: white;
  text-transform: uppercase;
  margin-left: 350px;
  display: inline-block;
  text-decoration: none;
  font-family: 'Hind', sans-serif;
}


.facebook {
  background-color: rgb(117, 130, 182);
  height: 30px;
  width: 30px;
  opacity: 0.5%;
  margin-left: 50px;
  border-bottom: solid gray;
}

.rss {
  background-color: rgb(204,144,53);
  height: 30px;
  width: 30px;
  opacity: 0.5%;
  margin-left: 5px;
  border-bottom: solid gray;
}

.twitter {
  background-color: rgb(106, 141, 199);
  height: 30px;
  width: 30px;
  opacity: 0.5%;
  margin-left: 5px;
  border-bottom: solid gray;
}

.youtube {
  background-color: rgb(178, 56, 45);
  height: 30px;
  width: 30px;
  opacity: 0.5%;
  margin-left: 5px;
  border-bottom: solid gray;
}

.nav-bar {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: rgb(180, 41, 46);
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  font-family: 'Hind', sans-serif;
}

.carousel__container {
  margin: 10px 0;
  width: 100%;
  overflow: hidden;
}

.carousel__background {
  background-image:url(../assets/top-image.png);
  background-position: top left;
  background-size: 130%;
  border: 5px solid white;
  height: 250px;
  position: relative;
}

.logo-img {
  height: 90%;
  width: 50%;
  position: absolute;
  top: 20px;
  left: 10px;
}

.grid__column {
  display: inline-block;
  width: 30%;
  margin: 8px;
  background: white;
  vertical-align: top;
}

.article {
    text-align: left;
    font-family: 'Hind', sans-serif;
    padding: 10px;
}

.article_title {
  text-transform: capitalize;
  font-size: 15px;
}

.article_date {
  color: gray;
}

.article_preview {
  text-align: center;
  font-size: 5px;
}

.readMore {
  color: red;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 15px;
}

.skater_images {

}

.tommy {
  height: 464;
  width: 365;
  border: 5px solid white;
  border: 5px solid white;
}

.rodney {
  height: 223;
  width:322;
  border: 5px solid white;
}

.steve {
  width: 670;
  height: 224;
  align-self: middle;
  border: 5px solid white;
}

.footer_box {
  background: white;
  size: 80%;
}
