* {
  box-sizing: border-box;
}

body {
  background-image: url(../assets/bg.jpg);
}

.subscribe {
  color: white;
  text-transform: uppercase;
  margin-left: 800px;
  display: inline-block;
}

.logos {
  height: 30px;
  width: 30px;
  opacity: 0.5%;
  margin-left: 5px;
}

.facebook {
  background-color: rgb(117, 130, 182);
  height: 30px;
  width: 30px;
  opacity: 0.5%;
  margin-left: 5px;
}

.rss {
  background-color: rgb(204,144,53);
  height: 30px;
  width: 30px;
  opacity: 0.5%;
  margin-left: 5px;
}

.twitter {
  background-color: rgb(106, 141, 199);
  height: 30px;
  width: 30px;
  opacity: 0.5%;
  margin-left: 5px;
}

.youtube {
  background-color: rgb(178, 56, 45);
  height: 30px;
  width: 30px;
  opacity: 0.5%;
  margin-left: 5px;

}

.nav__bar {
  text-transform: capitalize;
  text-decoration: none;
  color: white;
  background-color: rgb(180, 41, 46);
  vertical-align: top;
}


.grid__column {
  display: inline-block;
  width: 33%;
  padding-left: 10px;
  padding-right: 10px;
  background: white;
}

.article {
    padding: 15px;
}

.article__title {
  text-transform: capitalize;
}

.readMore {
  color: red;
  text-transform: uppercase;
  text-decoration: none;
}
